body{
    padding: 0;
    margin: 0;
}
ul li {
    list-style: none;
    margin: 7px 10px 7px 7px;
    flex-shrink: 1;
}
ul li.services {
    padding-bottom: 2px;
    border-bottom: 2px solid rgb(4, 134, 4);
}
ul li:hover {
    text-shadow: 0px 0px 5px greenyellow;
}
li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
nav img {
    width: 50px;
    height: 50px;
    margin: 2px;
    flex-shrink: 1;
    border-radius: 5px;
}
nav img:hover {
    box-shadow: 0px 0px 10px 2px greenyellow;
}
.space {
    width: 800px;
}
.navul {
    display: flex;
}
.nav-container {
    width: 100%;
    display: flex;
    background-color: rgb(9, 17, 8);
    justify-content: center;
    align-items: center;
}
@media all and (max-width: 414px) {
    nav img {
        width: 45px;
        height: 45px;
    }
    ul li {
        font-size: small;
    }
}
@media all and (max-width: 365px) {
    nav img {
        width: 35px;
        height: 35px;
    }
    ul li {
        font-size: 10px;
    }
}
@media all and (max-width: 299px) {
    nav img {
        width: 25px;
        height: 25px;
    }
    ul li {
        font-size: 7px;
    }
}
@media all and (max-width: 1426px) {
    nav img {
        margin-left: 50px;
    }
    ul li:last-child {
        margin-right: 100px;
    }
}
    @media all and (max-width: 1139px) {
        nav img {
            margin-left: 50px;
        }
        ul li:last-child {
            margin-right: 150px;
        }
}
@media all and (max-width: 727px) {
    ul li.last {
        margin-right: 70px;
    }
}
.headercont {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    height: 620px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.item1 {
    height: 500px;
    width: 520px;
    margin: 40px 10px 10px 10px;
    margin-left: 0;
}
.item2 {
    height: 500px;
    width: 520px;
    margin-top: 30px;
}
.item2 img {
    height: 500px;
    width: 520px;
}
.item1 h1 {
    font-size: 85px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 125px 0 20px 0;
}
.item1 p {
    font-size: 20px;
    color: rgb(4, 134, 4);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
h1:hover {
    font-size: 90px;
}
p:hover {
    color: rgb(4, 177, 4);
}

/*animation*/
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


@media all and (max-width: 1140px) {
    .headercont {
        height: 970px;
    }
    .item2 img {
        margin: 0;
    }
    .item1 {
        height: 400px;
    }
}
@media all and (max-width: 650px) {
    .item2 img {
        height: 480px;
        width: 480pxpx;
    }
}
@media all and (max-width: 539px) {
    .item1 h1 {
        font-size: 60px;
        text-align: center;
    }
    .item1 p {
        font-size: 18px;
        text-align: center;
    }
    .item2 img {
        height: 460px;
        width: 460pxpx;
    }
}
@media all and (max-width: 482px) {
    .headercont {
        height: 740px;
    }
    .item2 img {
        height: 300px;
        width: 350px;
        margin-left: 20px;
    }
}
@media all and (max-width: 360px) {
    .headercont {
        height: 740px;
    }
    .item2 img {
        height: 280px;
        width: 230px;
        margin-top: 0;
    }
}
@media all and (max-width: 290px) {
    .item1 h1 {
        font-size: 50px;
    }
    .item1 {
        height: 350px;
    }
}
.line1 {
    width: 100%;
    height: 30px;
    background-color: rgb(9, 17, 8);
}
.section2 {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
p.green1 {
    color: rgb(4, 134, 4);
    margin: 0 0 15px 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.textcont {
    margin-bottom: 10px;
}
h2 {
    margin: 70px  0 20px 0;
    color: white;
    text-align: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}
.articont {
    margin: 0 30px 0 0px;
    font-size: 18px;
}
p.green {
    color: rgb(4, 134, 4);
    margin: 0 0 15px 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.textcont2 {
    margin-bottom: 30px;
}
h3 {
    margin: 0px  0 20px 20px;
    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
h4 {
    margin: 0px  0 20px 20px;
    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.textcont3 {
    margin-bottom: 30px;
}
h5 {
    margin: 0px  0 20px 20px;
    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.textcont4 {
    margin-bottom: 30px;
}
h6 {
    margin: 0px  0 20px 20px;
    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.textcont5 {
    margin-bottom: 30px;
}
p.green2 {
    color: rgb(4, 134, 4);
    margin: 50px 0 15px 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
p:hover {
    color: rgb(4, 177, 4);
}
h2:hover {
    font-size: 65px;
}
h3:hover, h4:hover, h5:hover, h6:hover {
    font-size: 45px;
}

.articont.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.articont.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.textcont.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: scale(100%);
    transition: all 1s;
}
.textcont.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.footercont {
    width: 100%;
    background-color: rgb(9, 17, 8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footercont a {
    font-size: 17px;
    color: rgb(190, 197, 190);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}
.ft1 .p1, .ft2 .p2, .ft3 .p3, .ft4 .p4, .ft5 .p {
    margin-top: 50px;
}
.footercont a:hover {
    color: rgb(11, 187, 11);
    text-decoration: underline;
    cursor: pointer;
}
.ft1 {
    width: 250px;
    height: 250px;
    margin: 15px;
    flex-shrink: 1;
}
.ft2 {
    width: 250px;
    height: 250px;
    margin: 15px;
    flex-shrink: 1;
}
.ft3 {
    width: 250px;
    height: 250px;
    margin: 15px;
    flex-shrink: 1;
}
.ft4 {
    width: 250px;
    height: 250px;
    margin: 15px;
    flex-shrink: 1;
}
.ft5 {
    display: flex;
}
.ft5 img {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    margin: 2px;
}
.ft5 img:hover {
    width: 30px;
    height: 30px;
}
.copyright {
    color: rgb(141, 141, 141);
    font-size: 14px;
    text-align: center;
    padding-bottom: 5px;
    background-color: rgb(9, 17, 8);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/*animation*/
.ft1.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.ft1.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition-delay: 200ms;
}
.ft2.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.ft2.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition-delay: 400ms;
}
.ft3.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.ft3.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition-delay: 600ms;
}
.ft4.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.ft4.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition-delay: 800ms;
}
a.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1s;
}
a.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition-delay: 1s;
}

@media all and (max-width: 459px) {
    .footercont {
        flex-wrap: wrap;
    }
    .ft1, .ft2, .ft3, .ft4 {
        margin: 5;
        width: 150px;
        height: 150px;
    }
    .ft1 .p1, .ft2 .p2, .ft3 .p3, .ft4 .p4 {
        margin-top: 10px;
    }
}
@media all and (max-width: 363px) {
    .footercont {
        height: 700px;
        flex-wrap: wrap;
    }
    .ft1, .ft2, .ft3, .ft4 {
        margin: 5;
        width: 150px;
        height: 110px;
    }
    .ft1 .p1, .ft2 .p2, .ft3 .p3, .ft4 .p4 {
        margin-top: 6px;
    }
    .footercont a {
        font-size: 14px;
    }
}
body::-webkit-scrollbar {
    width: 13px;
}
body::-webkit-scrollbar-track {
    background-color: rgb(9, 17, 8);
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(11, 187, 11);
    border-radius: 50px;
    border-left: 3px solid rgb(9, 17, 8);
    border-right: 3px solid rgb(9, 17, 8);
}